.App {
  display: grid;
  grid-template-rows: 5rem auto 10rem;
  min-height: 100vh;
}

/* CSS to refactor */
footer {
  align-items: center;
  display: flex;
  justify-content: center;
}
header {
  align-items: center;
  display: flex;
  padding: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 30rem;
  width: 90%;
}
